{% load static %}
<html>
    <head>
        <title>
            Django Blog
        </title>

        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>

    <body>
        <header>
            <div class="nav-left">
                <h1>
                    <a href="{% url 'home' %}">
                        Django blog
                    </a>
                </h1>
            </div>
            

            <div>
                <a href="{% url 'post_new' %}">
                    add a new Post
                </a>
            </div>
            
        </header>

        <div>
            {% block content %}

            {% endblock content %}
        </div>
    </body>
</html>